<% content_for :title, "Editing grant award" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">Editing grant award</h1>

      <%= render "form", grant_award: @grant_award %>

      <div class="d-flex gap-3 mt-3">
        <%= link_to "View grant award", @grant_award %>
        <%= link_to "← Back to grant awards", grant_awards_path %>
      </div>
    </div>
  </div>
</div>
