<% content_for :title, "Editing research item" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">Editing research item</h1>

      <%= render "form", research_item: @research_item %>

      <div class="d-flex gap-3 mt-3">
        <%= link_to "View item", @research_item %>
        <%= link_to "← Back to research items", research_items_path %>
      </div>
    </div>
  </div>
</div>
