<% content_for :title, "Editing teaching" %>

<h1>Editing teaching</h1>

<%= render "form", teaching: @teaching %>

<br>

<div>
  <%= link_to "Show this teaching", @teaching %> |
  <%= link_to "Back to teachings", teachings_path %>
</div>
