<% content_for :title, "Editing teaching" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Teaching", teachings_path %></li>
          <li class="breadcrumb-item"><%= link_to @teaching.title, @teaching %></li>
          <li class="breadcrumb-item active" aria-current="page">Edit teaching</li>
        </ol>
      </nav>

      <h1 class="mb-4">Editing teaching</h1>

      <%= render "form", teaching: @teaching %>

    </div>
  </div>
</div>
